@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #272727;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;

    
    
}
a {
    font: inherit;
    color: #fff;
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: contain;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 3vh 5vw;
    border: 1px solid #fff;
    align-items: center;
}

.header__logo {
    width: 5vw;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    
}

@media (min-width: 320px) and (max-width: 700px) {
    .burger-menu {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        transition: 3.03s ease;

    }
    .burger-menu::before,    
    .burger-menu::after {
        content: ''; /* contenido vacío */
        background: #0b0b0b; /* el color de la hamburguesa */
        position: absolute; /* el valor de posición para todo el bloque */
        width: 100%;
        height: 2px; /* el grosor de las líneas de las hamburguesas */
        transition: 0.3s ease;
    }


    .burger-menu::before {
        top: 0; /* la posición del "bollo" superior de la hamburguesa */
    }
    .burger-menu::after {
        bottom: 0; /* la posición del "bollo" inferior de la hamburguesa */
    }
    .burger-menu span { /* dibujaremos la "hamburguesa" con el elemento span */
        background: #00000081;
        position: absolute; 
        width: 100%;
        top: 9px;
        height: 2px; 
    }
     /*Menu*/
    .main-nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: #272727;
        border: 1px solid #fff;
        padding: 20px 10px;
        transform: translateX(100%);
    }
    .nav-list {
        flex-direction: column;
        text-align: right;
    }

     /* Activo */
     .burger-menu.active {
        z-index: 3;
        transform: translateX(-40vw);
        transition: 0.3s ease;
    }
    .burger-menu.active::before {
        transform: rotate(45deg);
        top: 9px;
        transition: 0.3s ease;
    }
    .burger-menu.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        transition: 0.3s ease;
    }
    .burger-menu.active span {
        transform: scale(0);
    }
    .main-nav.active {
       transform: translate(0);
       transition: 0.3s ease;
    }
}

